// Navigation overrides
$navigation-header-color: #FFF;
$navigation-header-font-size: px-to-rems(16);
$navigation-list-item-active-color: #FFF;
$navigation-list-link-display: block;
$navigation-list-link-padding: 12px 0;
$navigation-link-color: #333;
$navigation-list-item-font-size: 1rem;

$navigation-inline-active-background: #B2789C;
$navigation-inline-active-padding: 2px 10px;

// Base overrides
$body-background-color: #F5F5F5;

// Buttons
$button-default-background-color: #EA5D5F;
$button-primary-background: #7BD5D3;
$button-danger-background: #ecf0f1;
$button-success-background: #8ABD68;

// Labels
$label-default-background: $button-default-background-color;
$label-primary-background: #34495e;

// Experimental
$include-flexible-addons: true;
