.main-content {
  border-left: 1px solid darken(#F5F5F5, 5%);
  padding-left: 30px;
  background: #FFF;
  padding-bottom: 20px;
}

.navigation {
  &.side {
    height: 100%;
    padding: 0;
    .header {
      background: #EA5D5F;
      border: 1px solid darken(#EA5D5F, 4%);
      padding-left: 20px;
      padding-top: 50px;
      padding-bottom: 10px;

      &:hover {
        background: #EA5D5F;
        border: 1px solid darken(#EA5D5F, 4%);
      }
    }

    li {
      padding-left: 20px;
      cursor: pointer;
      &:hover {
        background: #7BD5D3; 
      }
    }

    li.active {
      position: relative;
      background: #7BD5D3; 
      border: 1px solid darken(#7BD5D3, 4%);

      &:after {
        content: '';
        position: absolute;
        right: -2px;
        top: 12px;
        width: 0; 
        height: 0; 
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent; 

        border-right:12px solid #FFF;
      }
    }
  }
}

.nomargin {
  margin: 0;
}

fieldset {
  border: none;
  padding: 0 0 8px 0;
  margin-top: 15px;
  color: #555;
  text-transform: uppercase;

  legend {
    border-bottom: 1px solid rgba(#b3b3b3, 0.5);
    display: block;
    width: 100%;
    padding-bottom: 8px;
  }
}

.button {
  &.danger {
    color: #777; 
  }
}

.navigation {
  &.inline {
    li {
      a {
        padding: 8px;
        font-weight: lighter;
      }

      &.active {
        border-top: 2px solid darken($navigation-inline-active-background, 10%);
      }
    }
  }
}

.response-details {
  float: right;
  padding-right: 25px;
}

.response-wrapper {
  padding-right: 10px;
}

.text-strong {
  font-weight: bold;
}

.headers {
  span {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 13px;
  }

  i.fa {
    margin: 0 8px;
  }
}
